<p>Most recent <%= link_to "#{correct_case(latest_r.chassis)} R", :action => 'show', :id => latest_r.id %> registered by <%= link_to latest_r.owner, :controller => 'account', :action => 'show', :id => latest_r.user.id %> <%= time_ago_in_words latest_r.created_at %> ago.</p>