<% form_for :r32, @r32, :url => { :action => @controller.action_name }, :html => { :id => 'r32_form' } do |f| -%>
  <h2>Add Your R32 to the Registry</h2>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end -%>