<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<h2><%= @page_title %></h2>
<%= render :partial => 'r32', :object => @r32 %>