<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<% posts = r32.posts.sort_by { |p| p.created_at } -%>
(Posts: <%= posts.size %>,
Last entry: <%= posts.size > 0 ? "#{ time_ago_in_words(posts.last.created_at) } ago" : 'Never written' %>)

<%= donate_link_for_contributor(r32.user) %>