<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<h2>You are viewing a single entry of this R32 log, <%= link_to 'view the entire log &rarr;' , :action => 'show', :id => @r32 %></h2>
<div id="profile">
  <%= render :partial => 'r32s/r32', :object => @r32 %>
</div>
<%= render :partial => 'entry', :object => @entry %>
<div class="clearfix-right"></div>