<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<% form_for :search do -%>
  <p class="multi"><label for="search_query">Search by last 4 of VIN or edition number (MkV only):</label>
    <%= text_field_tag 'q', params[:q], :id => 'search_query' %>
    <%= submit_tag 'Lookup' %>
  </p>
<% end -%>