/*

hacks for all versions of ie

Copyright 2007-2008 Justin Perkins
The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/

*/
#navigation{ margin-top:-20px; }
#navigation li{
  padding:5px 5px 5px;
  margin:0 10px 5px 0;
}
#navigation li a:hover{
  padding-top:5px;
  margin-bottom:5px;
}
#content form p.btn{
  padding-left:13.25em;
}
#content div.entry{
  zoom:1;
}