<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<h3 class="system_message"><strong>Hey!</strong>
  This website is being redesigned! Do you like that? Dislike? Want to share some ideas? Please do, we would really love that.
  -<%= enkode mail_to( 'owner@usr32registry.org', 'owner@usr32registry.org' )%></h3>