<h3 class="system_message"><strong>Notice:</strong>
  More site updates on Sunday, September 30th. Sprinkled RSS feeds throughout the site, added a feed info page and a few other little things.
  -<%= enkode mail_to( 'owner@usr32registry.org', 'owner@usr32registry.org' )%></h3>