<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<% form_for :user, @create_user, :url => { :action => @controller.action_name }, :html => {:onsubmit => 'return Account.checkLocation(this)'} do |f| -%>
  <h2>Setup Your Account or <%= link_to 'Login', :action => 'login' %></h2>
  <p>Before you can add your R32 to the registry, you'll need to create an account. 
    If you already have an account with us, <%= link_to 'you can login here', :action => 'login' %>.</p>
  <%= render :partial => 'form', :object => @create_user, :locals => { :f => f } %>
<% end -%>