<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<% form_for :user, @edit_user, :url => { :action => @controller.action_name }, :html => {:onsubmit => 'return Account.checkLocation(this)'} do |f| -%>
  <h2>Edit Account</h2>
  <p>Edit your account information below as needed, <%= link_to 'there is a different page for changing your password', :action => 'change_password', :id => @edit_user %>.
  <p>If you're wondering what your information looks like to the rest of the people who visit this site, <%= link_to 'view your public profile', :action => 'show', :id => @edit_user %>.</p>
  <%= render :partial => 'form', :object => @edit_user, :locals => { :f => f } %>
<% end -%>