<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>
<h2>Why Are There Advertisements on This Site?</h2>
<p>All websites have monthly costs as well as annual renewal fees for the domain name. They also take time and energy 
  to maintain and improve.
</p>
<p>Running advertisements are a relatively simple way to help offset the costs of running 
  this website. We also try to provide relevant advertisements that our fellow R32 owners will like instead of just boring
  old text advertisements with stupid pointless content.
</p>