<%# Copyright 2007-2008 Justin Perkins %>
<%# The R32 registry is distributed under the GNU General Public Licens. See license.txt or http://www.gnu.org/ %>

<h2><%= @page_title %></h2>
<p><%= link_to 'All registered R32s', 'http://feeds.feedburner.com/us_r32_registry_all_r32s' %></p>
<p><%= link_to 'All registered MkIV R32s', 'http://feeds.feedburner.com/us_r32_registry_all_mkiv_r32s' %></p>
<p><%= link_to 'All registered MkV R32s', 'http://feeds.feedburner.com/us_r32_registry_all_mkv_r32s' %></p>
<p><%= link_to 'All registered R32s currently for sale', 'http://feeds.feedburner.com/us_r32_registry_all_r32s_for_sale' %></p>
<p><%= link_to 'All owner logs for registered R32s', 'http://feeds.feedburner.com/us_r32_registry_all_owner_logs' %></p>
<p>In addition to the above feeds, you can also subscribe to any individual owner log. You can browse the 
  owner logs on <%= link_to 'the main owner log page', :controller => '/blogs' %></p>