<h2>Some Metadata About This Site</h2>
<p>Who started this site and who maintains it? <%= link_to 'Justin', :controller => 'account', :action => 'show', :id => 1 %></p>
<p>Why though? Because he preordered a 2008 R32 in February 2007 and while he was waiting for it to arrive he needed something to do.</p>
<p>What's an R32? It is an AWD Volkswagen Golf, named for it's 3.2 liter V6. <%= link_to "Read more", :controller => 'r32s', :action => 'about' %></p>